header {
    display: none;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

ul:before {
    margin-left: 0;
    content: "Tareas";
    font-size: 18px;
}

.rowTask {
    border: none;
    margin-left: 0;
    margin-top:0;
}

.end {
    margin-left: 5%;
}

.task {
    color: black;
    font-size: 12px;
}

.task::after {
    content: ":";
}

.tags {
    border: none;
    padding: 0;
    font-size: 12px;
}

.tags:before {
    content: "(";
}

.tags:after {
    content: ")"
}

.finalished {
    display: none;
}

.buttonFin {
    display: none;
}

.deleteAll {
    display: none;
}

.newTask {
    display: none;
}

.rowOptions {
    display: none;
}