html {
    height: 100%;
}

header {
    margin-top: 20px;
    height: 3rem;
    position: sticky;
}

#init {
    border: 2px solid rgba(0, 0, 0, 0.282);
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.navbar {
    border: 2px solid rgba(0, 0, 0, 0.282);
}

.logoImage {
    margin-left: 20px;
}

#userImage {
    align-items: center;
}

#username {
    margin-top: 5px;
    text-align: center;
    color: white;
}

.userImage {
    border: 2px solid rgb(57, 74, 128)
}

body {
    background: linear-gradient(to right bottom, #536976, #292E49);
}

.tasksList {
    margin-top: 10rem;
    height: 100%;
}

a {
    text-decoration: none;
}

#disconnect {
    border: 2px solid rgb(57, 74, 128);
    background: grey;
    color: lightgray;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10px;
}

.rowTask {
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid rgb(57, 74, 128);
    background-color: rgba(0, 0, 0, 0.207);
    animation: 10s padding;
}

.end {
    text-decoration: line-through;
}

.task {
    font-size: large;
    width: auto;
    color: black;
}

.task:hover {
    color: blue;
}

.tags {
    border: 2px solid rgb(57, 74, 128);
    padding: 8px;
    border-radius: 10px;
    margin-left: 12px;
    color: white;
}

.buttonFin {
    text-align: center;
    width: 12%;
    border: 2px solid rgb(57, 74, 128);
    float: right;
    padding: 5px;
}

.buttonFin:hover {
    background-color: red;
}

.finalished {
    color: white;
}

.finalished:hover {
    color: black;
}

#deleteAll {
    float: left;
    border: 2px solid rgb(57, 74, 128);
    padding: 2px;
    color: white;
}

#deleteAll:hover {
    background-color: red;
    color: black;
}

#newTask {
    float: right;
    border: 2px solid rgb(57, 74, 128);
    padding: 2px;
    color: white;
}

#newTask:hover {
    background-color: green;
    color: black;
}

button {
    border:none;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(18, 139, 18, 0.492);
}

.rowOptions {
    margin-top: 30px;
    margin-left: 26%;
    margin-right: 24%;
    height: 4em;
}