header {
    display: none;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

#tasksList {
    
    list-style-type: circle;
    content: "Oye";
}

#tasksList:before {
    margin-left: 0;
    width: 200px;
    content: "Tareas:";
    font-size: 18px;
}

#allTask {
    border: none;
    box-shadow: none;
    margin-left: 0;
    justify-content:flex-start;
    width: auto;
}

#task {
    align-items: none;
    justify-content: none;
    color: black;
    font-size: 12px;
    width: 1000px;
}

#done {
    width: auto;
    text-decoration: line-through;
    margin-left: 0;
    align-items: initial;
    justify-content: start;
}

#task::after {
    content: ":";
}

#tags {
    color: black;
    font-size: 12px;
    border: none;
    width: 1000px;
    background-color: black;
    display: inline-block;
}

#tags::before {
    content: "(";
}

#tags:after {
    content: ")";
}

#btnFin {
    display: none;
}

#options {
    display: none;
}

