#userImage {
    margin-top: 15px;
}

#user {
    color: white;
    text-align: center;
}

#name {
    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
}

#logout {
    color: white;
    text-decoration: none;
}

#tasksList {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1rem;
}

#allTask {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#task {
    text-align: center;
}

#tags {
    color: white;
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}

#finalished {
    text-decoration: none;
    color: white;
}

#done {
    text-decoration: line-through;
}

#options {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

#delete {
    text-decoration: none;
    color: white;
}

#addTask {
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
