.rowHeader {
    height: 5.2em;
}

.logo {
    border: 2px solid rgb(57, 74, 128);
    margin-left: 8px;
    margin-top: 10px;
    text-align: center;
    padding: 25px;
    color: red;
    height: 4.45em;
}

.userImage {
    margin-top:10px;
    width: 70%;
    border: 2px solid rgb(57, 74, 128);
}

.username {
    border: 2px solid black;
    color: red;
    margin-top: 15px;
    text-align: center;
    height: 25px;
}

a {
    text-decoration: none;
}

.rowUser {
    border: 2px solid rgb(57, 74, 128);
    height: 2em;
    margin: 8px;
}

#disconnect {
    margin-top: 10px;
    border: 2px solid rgb(57, 74, 128);
    background: grey;
    color: lightgray;
    width: 60%;
    margin-left: 20%;
}

.rowTask {
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    height: 4em;
    border: 2px solid rgb(57, 74, 128);
}

.task {
    font-size: large;
    width: auto;
}

.tags {
    border: 2px solid rgb(57, 74, 128);
    padding: 8px;
    border-radius: 10px;
    margin-left: 12px;
}

.buttonFin {
    text-align: center;
    width: 12%;
    border: 2px solid rgb(57, 74, 128);
    float: right;
}

.finalished {
    color: red;
}

.finalished:hover {
    color: red;
}

.deleteAll {
    float: left;
    border: 2px solid rgb(57, 74, 128);
    padding: 10px;
    background: rgba(255, 0, 0, 0.477);
}

.newTask {
    float: right;
    border: 2px solid rgb(57, 74, 128);
    padding: 10px;
}

button {
    border:none;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(18, 139, 18, 0.492);
}